<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-9">
        <title>RESTful creatures</title>
    </head>
    <body>
        <h1>
            RESTful Creatures
        </h1>
        <%- body %>
    </body>
</html>