<form method="GET" action="prehistoric_creatures">
    <label for="typeFilter">Filter by type:</label>
    <input type="text" name="typeFilter" id="typeFilter">
    <button type="submit">Filter</button>
</form>
<ul>
    <% myPrehistoric.forEach((prehistoric, index) => { %>
        <li> <img src="<%= prehistoric.img_url%>" width="150" height="150"/>
            <%= prehistoric.type %> 
            <form method="POST" action="preshitoric_creatures/<%= index %>/?_method=DELETE">
                <button type="submit">DELETE</button>
            </form>
        </li>
    <% }) %>
</ul>