<form method="POST" action="/prehistoric_creatures">
    <label for ="prehistoricType">Type:</label>
    <input type="text" name="type" id="prehistoricType">

    <label for ="img_url">url:</label>
    <input type="text" name="img_url" id="img_url">

    <button type="submit">Add type and image!</button>
</form>